certifi
charset-normalizer
contourpy
cycler
fonttools
idna
kiwisolver
matplotlib
numpy
nvidia-cublas-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
packaging
Pillow
pyparsing
python-dateutil
requests
scipy
six
scikit-learn
torch
torchsummary
torchvision
typing-extensions
urllib3
tqdm
